/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.logoWrapper img{
 height: 140px;
 width: 120px;
 margin-left: -324px;
 margin-top: -30px;
}

a{
margin-top: -30px;
}
.navigationWrapper .logoWrapper {
  display: flex;
}

.navigationWrapper .logoWrapper .stylish {
  font-weight: bold;
}

.navigationWrapper .logoWrapper .logo {
  padding-left: 4px;
  color: #07fade;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-size: cover;
 z-index:999;
  background-color: transparent;
}

body {
  font-family: var(--body-font);
  z-index:999;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  z-index:999;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 100%;
 
 z-index:999;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
   z-index:999;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);

}

/*=============== NAV ===============*/
.nav {
  height: 100%;
  margin-right: 100px;
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
  z-index:999;
}

.nav__data {
  height: 100%;
  display: flex;
  z-index:999;
  justify-content: space-between;
  align-items: center;
  margin-left: -120px;
}

.nav__logo {
  display: inline-flex;
  align-items: left;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  z-index:999;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
  z-index:999;
}

.nav__toggle {
  position: relative;
  width: 32px;
  z-index:999;
  height: 32px;
  margin-left: -184px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  z-index:999;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    z-index:999;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
    z-index:999;
    height: 100%;
  }

   .nav__list li{
   width:20vh;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: transparent;
  font-weight: var(--font-semi-bold);
  z-index:999;
  padding: 2rem 1.5rem;
  z-index:999;
  display: contents;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5px;
  transition: background-color .3s;
  font-size: 20px;
}

.nav__link:hover {
  background-color: var(--black-color-light);
  z-index:999;
}

/* Show menu */
.show-menu {
  z-index:999;
  opacity: 1;
  top: 3.5rem;
  z-index:999;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
  z-index:999;
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
  z-index:999;
  width: max-content;
}

.dropdown__arrow {
  font-size: 1.25rem;
  z-index:999;
  font-weight: bold;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 2.05rem 1.25rem;
  margin-top: 0.015rem;
  color: var(--white-color);
  z-index:999;
  background-color: #090f16;
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  font-weight: var(--font-semi-bold);
  font-size: 1.2rem;
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.55rem;
  font-weight: initial;
  z-index:999;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--black-color);
  z-index:999;
  scale: 1.05;
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 10px;
  z-index:999;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
  z-index:999;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
  z-index:999;
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
    z-index:999;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
    z-index:999;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 4rem;
    margin-top: 2%;
    margin-left: 190px;
    text-align: center;
  }
  .nav__link {
    height: 100%;
    width: 164%;
    padding: 0;
    justify-content: center;
    column-gap: -1.75rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
    z-index:999;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    z-index:999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
    z-index:999;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    z-index:999;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    z-index:999;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    z-index:999;
    transition: top .3s;
  }
}
