/*footer*/
.wgs {
  margin-bottom: 30px;
}
.bg-light {
    background-color: black!important;
}
.section-footer {
  padding: 60px 0 60px 0;
  background-color: #242424;
  color: white;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}
.wgs-logo {
  padding-bottom: 22px;
  display: inline-block;
}
.wgs-body p {
  font-size: 0.93em;
  line-height: 1.71;
  margin-bottom: 0.75rem;
  color: white;
  font-size: 0.93em;
  line-height: 1.71;
  margin-bottom: 0.75rem;
  font-family: 'Montserrat', sans-serif;

}
.wgs-body p:last-child {
  margin-bottom: 0;
}
.copyright-text a {
  color: #9acb37;
  color: white;
}
.copyright-text a:hover {
  color: #f37c25;
  color: white;
  text-decoration: none;
}
.wgs-title {
  text-transform: uppercase;

  font-size: 1rem;
  color: white;
  font-weight: 600;
  letter-spacing: 0.075em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.5rem;
}
.wgs-links {
  padding-left: 0 !important;
 
  width: max-content;
}
.wgs-links li {
  position: relative;
  padding: 10px 0 !important;
  line-height: 1;
  color: white;
  list-style-type: none;
}
.wgs-links li a {
  font-size: 0.9em;
  line-height: 20px;
  display: block;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.wgs-links li a:hover {
  text-decoration: underline;
}
.social-links {
  padding-left: 0 !important;
  display: flex;
  margin: -3px;
}
.social-links li {
  position: relative;
  padding: 5px 0 !important;
  line-height: 1;
  list-style-type: none;
  padding: 3px !important;
}
.social-links li a {
  color: #444443;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid black;
  color: white;
  height: 36px;
  width: 36px;
  line-height: 30px;
  text-align: center;
}
.social-links li a:hover {
  color: orange;
  background: #fff;
  border-color: #f37c25;
  text-decoration: none;
}
.linkedin-logo {
  color: #444443;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid black;
  height: 36px;
  width: 36px;
  line-height: 32px !important;
  text-align: center;
}
.linkedin-logo:hover {
  color: orange;
  background: #fff;
  border-color: #f37c25;
  text-decoration: none;
}
.footer-form .form-control {
  border: 1px solid #e1e2e2;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}
.footer-form .form-control:focus {
  box-shadow: none;
  border: 2px solid #9acb37;
}
.send-form-btn-footer {
  border: 1px solid #333 !important;
  color: #333;
  background: #fff;
  border-radius: 0.25rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 3px 7px 0px rgba(50, 50, 51, 0.26);
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
.send-form-btn-footer:hover {
  color: #fff !important;
  background: black;
  cursor: pointer;
  text-decoration: none;
  transition: 500ms;
  box-shadow: none;
}

.social-icons {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  margin-left: 400px;
}

#youtube,
#instagram,
#linkedIn,
#facebook {
  font-size: 2em;
   margin-top:30px;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 11px 19px;
  margin: 0 40px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
#instagram {
  animation-delay: 0.3s;
   margin-top:30px;
}
#facebook {
  animation-delay: 0.7s;
   margin-top:30px;
}
#linkedIn {
  animation-delay: 0.1s;
  margin-top:30px;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-device-width: 480px)
{
  .social-icons {
    display: flex;
    flex-direction: row;
    margin-top: -30px;
    margin-left: -20px;
    margin-right: -40px;
}




  #youtube, #instagram, #linkedIn, #facebook {
    font-size: 1.5em;
    margin-top: 30px;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080, 2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 5px 19px;
    margin: 0 15px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}




  
}
