.u-section-1 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1012px;
  margin: 57px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 567px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  font-size: 3rem;
  margin: 34px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  font-weight: 700;
  margin: 18px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 567px;
  background-image: url("images/30698540_2011878072396691_3659614041614325790_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 28px;
}

.u-section-1 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 379px;
  grid-gap: 15px 15px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 175px 0 44px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -48px 10px 0 179px;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 44px 10px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 0;
}

.u-section-1 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 175px 0 44px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -48px 10px 0 179px;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 44px 10px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 0;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 175px 0 44px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -48px 10px 0 179px;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  margin: 44px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-1 .u-image-1 {
    min-height: 527px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 311px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.4375rem;
    margin-right: 19px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.4375rem;
    margin-right: 19px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 3.4375rem;
    margin-right: 19px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 404px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    min-height: 738px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 634px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 399px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 3.75rem;
  }
}
