*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: black;
    font-family: 'Overpass Mono', monospace;
    color: #f5f5f5;
}

as
{
    text-decoration: none;
    color: #f5f5f5;
}

a:hover
{
    color: #230bad;
}

.hide
{
    display: none;
}
.item{
    
    flex-basis: 50%;
    font-weight: bold;
    margin-left: 540px;
    font-size: large;
}

.right-section{
    padding-left: 30px;
    padding-right: 50px;
    margin-left: 90px;
    margin-bottom: 60px;
}
.team-members{
    max-width:70%;
    width: 980px;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    JUSTIFY-CONTENT:SPACE-BETWEEN;
    gap: 50px;
}

.team{
       
    flex-grow: 1;
    
}
.member-1{
    margin-bottom:95px;
}
.member-2{
    margin-top: 95px;
}
.member-3{
    margin-bottom:95px;
}
.member-4{
    margin-bottom:95px;
}
.member-5{
    margin-top:95px;
}
.member-6{
    margin-bottom: 95px;
}


img{
    width: 250px;
    max-width: 100%;  
}

.name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.position{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: top;
    writing-mode: vertical-rl;
}

.footer-text{
    margin-top: 10%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4f4f4fa8;
}

.username{
    font-weight:bold;
}
  
  @media screen and (min-width : 300px) and (max-width : 600px) {
    .main{
        margin-top: 80px;
        margin-bottom:50px;
        max-width:100%;
        display: block;
    }
    .main-title{
        font-weight: bold;
        padding-left: 4%;
        margin-bottom: 40px;
    }
    .right-section{
        padding-left: 4%;
    }
    .description{
        font-size:16px;
    }
    img{
        width: 80%;
    }
    .name{
        font-size:12px;
        margin:0;
    }
    .position{
        font-size:20px;
        font-weight: bold;
    }
    .team-members{
        gap:unset;
        max-width:98%;
        padding: 5%
    }
    .team{
        flex-basis:50%;
    }
    .member-1{
        margin-bottom:0px;
        padding-right:3%;
    }
    .member-2{
        margin-top: 55px;
        padding-left:3%;
    }
    .member-3{
        margin-bottom:0px;
        padding-right:3%;
    }
    .member-4{
        margin-top:55px;
        margin-bottom:0;
        padding-left:3%;
    }
    .member-5{
        margin-top:0px;
        padding-right:3%;
    }
    .member-6{
        margin-top: 55px;
        padding-left:3%;
    }
    .footer-text{
        font-size:12px;
        margin-top: 100px;
    }
  }

  @media screen and (min-width : 600px) and (max-width : 1024px) {
    .main{
        margin-top: 80px;
        margin-bottom:50px;
        max-width:90%;
        display: block;
    }
    .main-title{
        padding-left: 4%;
        margin-bottom: 40px;
    }
    .right-section{
        padding-left: 4%;
        max-width: 90%;
    }
    .name{
        font-size:14px;
        margin:0;
    }
    .position{
        font-size:12px;
    }
    img{
        width:70%;
    }
    .team-members{
        gap:unset;
        max-width:98%;
        padding: 7%
    }
    .team{
        flex-basis:50%;
    }
    .member-1{
        margin-bottom:0px;
        padding-right:4%;
    }
    .member-2{
        margin-top: 75px;
        padding-left:4%;
    }
    .member-3{
        margin-bottom:0px;
        padding-right:4%;
    }
    .member-4{
        margin-top:75px;
        margin-bottom:0;
        padding-left:4%;
    }
    .member-5{
        margin-top:0px;
        padding-right:4%;
    }
    .member-6{
        margin-top: 75px;
        padding-left:4%;
    }
    .footer-text{
        font-size:12px;
        margin-top: 100px;
    }
  }

  @media screen and (min-width : 1026px) and (max-width : 1350px){
    .main{
        margin-top: 80px;
        margin-bottom:50px;
        max-width:80%;
        }
    .main-title{
        padding-left: 4%;
        margin-bottom: 40px;
    }
    .right-section{
        padding-left: 4%;
    }
    .name{
        font-size:14px;
        margin:0;
    }
    .position{
        font-size:12px;
    }
    img{
        width:80%;
    }
    .team-members{
        gap:unset;
        max-width:98%;
        padding: 3%;
    }
    .team{
        flex-basis: 33.333%;
    }
  }


  a
{
    text-decoration: none;
    color: #f5f5f5;
}

a:hover
{
    color: #230bad;
}

.hide
{
    display: none;
}
  footer
{
    margin-top: 60px;
    margin-left: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 75%;
    opacity: 0.2;
    border-top: 1px solid #212121;
}

footer:hover
{
    animation: fade 0.3s ease;
    opacity: 0.9;
}

.social-media-img
{
    height: 5vh;
}

.codecell-img
{
    height: 10vh;
}

@keyframes fade
{
    0%
    {
        opacity: 0.2;
    }

    100%
    {
        opacity: 0.9;
    }
}

/* Media queries */

@media screen and (max-width: 1295px)
{
    footer
    {
        width: 95%;
    }
}

@media screen and (max-width: 500px)
{
    footer
    {
        opacity: 0.9;
    }
  }
