* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

.container {
    width: 100%;
    height: 0;
    display: flex;
    background-color: transparent;
    margin-left: 0;
    padding: 0;
     z-index:999;
    max-width: 100%;
    margin: 0;
    margin-top: 0;
    animation-name: moveInLeft;
    animation-duration: 3s;
}
  *:not(i) {
    font-family: "Poppins", sans-serif;
  }
nav img{
width:1px;
height:5px;
}
 header {
    position: fixed;
    width: 100%;
    margin: auto;
    background-color: transparent;
    padding: 0;

  }
 
    nav {
    margin-left: 0;
    display: flex;
         z-index:999;
    justify-content: space-between;
    align-items: center;

  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  nav a {
    font-size: 1.8rem;
    text-decoration: none;
  }
  nav a#logo {
    color: #000000;
    font-weight: 700;
  }
  nav ul a {
    color: #ffffff;
    font-weight: 600;
  }
  nav ul a:hover {
    border-bottom: 2px solid #ffffff;
  }
  section#home {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  h1 {
    font-size: 4rem;
  }
  #ham-menu {
    display: none;
  }
  nav ul.active {
    left: 0;
  }
  @media only screen and (max-width: 991px) {
    html {
      font-size: 56.25%;
    }
    header {
      padding: 2.2rem 5rem;
         z-index:999;
    }
  }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%;
    }
    #ham-menu {
      display: block;
      color: #ffffff;
        z-index:999;
    }
    nav a#logo,
    #ham-menu {
      font-size: 3.2rem;
    }
    nav ul {
      background-color: black;
      position: fixed;
      left: -100vw;
      top: 73.6px;
      width: 100vw;
      height: calc(100vh - 73.6px);
      display: flex;
      flex-direction: column;
      align-items: center;
         z-index:999;
      justify-content: space-around;
      transition: 1s;
      gap: 0;
    }
  }
  @media only screen and (max-width: 575px) {
    html {
      font-size: 46.87%;
    }
    header {
      padding: 2rem 3rem;
            z-index:999;
    }
    nav ul {
      top: 65.18px;
        z-index:999;
      height: calc(100vh - 65.18px);
    }
  }
