body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color:  #030a16 !important;
}

.slider-container {
  text-align: center;
  padding: 20px;
}

.swiper-container {
  width: 80%;
  margin: 20px auto;
}

.year-heading {
  color: #ffb606;
  font-size: 30px; /* Year heading color */
}

header {
  color: white;
  text-align: center;
  padding: 35px;
}

header h1 {
  font-size: 28px;
  margin: 0;
}

.swiper-slide {
  position: relative;
  /*width: 33.33%; /* Display three slides at a time */
}

.swiper-slide img {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #ffb606; /* White border for square background */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #ffb606;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 50%;
}

.overlay p {
  margin: 5px 0;
}

.swiper-slide:hover .overlay {
  opacity: 1;
}

.swiper-slide .overlay .sub-name {
  display: none;
}

.swiper-slide:hover .overlay .sub-name {
  display: block;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.sub-name {
  font-size: 16px;
}
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .swiper-container,
  .swiper-slide,
  .header {
    width: 100%;
  }

  .header {
    padding: 20px; /* Adjust header padding for smaller screens */
  }

  .overlay {
    border-radius: 0; /* Remove border-radius for overlay on smaller screens */
  }

  .swiper-slide img {
    border-radius: 0; /* Remove border-radius for images on smaller screens */
  }

  .year-heading {
    font-size: 24px; /* Adjust year heading font size for smaller screens */
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none; /* Hide the next and previous buttons on smaller screens */
  }

  /* Add any additional styles for smaller screens as needed */
}
