body{
  width:100%;
}

#project{
  height: 100vh;
  min-width: 100%;
  background-image: url('https://res.cloudinary.com/danefi6av/image/upload/v1692335668/landingpage/projectpage/BANNER_wbxzqc.png');
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  
  background-color: black;
  height: 80vh;
  min-width: 100%;
  padding-right:-38vh;
  padding-left:-25.5vh;

  margin:0;

  margin-bottom: -2.3vh;
}
*{
  margin: 0;
  padding: 9;
}

.image-slider {
  flex: 1;
  height: 60vh; 
  width: 80vh; 
  overflow: hidden;
  margin-top: 5vh;
  border-radius: 100px;
margin:0;
  border: solid white;

}

.image-slider-alternate {
  flex: 1;
  height: 60vh; 
  width: 80vh; 
  overflow: hidden;
  margin-top: 10vh;
  border-radius: 100px;
 margin:0;
  border: solid white;
  
}
.image-slider img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
  overflow:visible;
}

.text-paragraph h1{
  margin-bottom: 5vh;
  font-size: 50px;
}
.text-paragraph  {
  flex: 1;
  width: 80%;
  text-align: center;
  color:white;
  font-size: 19px;
  vertical-align: middle;
margin:0;
}

.text-paragraph-alternate  {
  flex: 1;
  width: 80%;
  text-align: center;
  color:white;
  font-size: 19px;
  vertical-align: middle;
  margin-top: 20vh;
  margin-left: 0vh;
}
  
 .footer {
    background-color: #111;
    border:#fff;
    border-radius: 10px;
    
  }
  
  .footercontainer {
    width: auto;
    padding: 70px 30px 20px;
    text-align: center;
    background-color: rgba(18, 19, 26, 0.95);
    opacity: 0.96;
   
    
  }
  
  .socialicons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
  }
  
  .socialicons a i {
    font-size: 2em;
    color: #000;
    opacity: 0.9;
  }
  
  .socialicons a:hover i {
    color: white;
    transition: 0.5s;
  }
  
  .footerbottom {
    background-color: black;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
  }
  
  .footerbottom pre {
    color: white;
  }



#electric{
  font-size: 40px;
 
  margin-top: -10px;
}
