.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .slider {
    width: 40%;
    overflow: hidden;
  }

  .slider img {
    width: 100%;
    animation: slide 10s infinite;
  }

  .content {
    width: 50%;
    padding: 0 20px;
  }

  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(-100%);
    }
    40% {
      transform: translateX(-200%);
    }
    60% {
      transform: translateX(-300%);
    }
    80% {
      transform: translateX(-400%);
    }
    100% {
      transform: translateX(-500%);
    }
  }
