/*.sponsors {
  padding: 20px;
}

.sponsors h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white !important;
}

.sponsors .slider {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.sponsors .slider img {
  display: block;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.sponsors .slider img.active {
  opacity: 1;
}*/

/* For screens smaller than 768px
@media screen and (max-width: 767px) {
  .sponsors {
    padding: 10px;
  }

  .sponsors h2 {
    font-size: 20px;
  }

  .sponsors .slider {
    height: 150px;
  }
}
*/
.sponsors {
  padding: 20px;
}

.sponsors h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sponsors .slider {
  width: 100%;
  max-width: 600px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.sponsors .slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.5s;
}

.sponsors .slider img.active {
  opacity: 1;
}

/* Media query for screens between 768px and 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sponsors {
    padding: 15px; /* Adjusted padding for medium-sized screens */
  }

  .sponsors h2 {
    font-size: 22px; /* Adjusted font size for medium-sized screens */
  }

  .sponsors .slider {
    height: 150px;
  }
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 767px) {
  .sponsors {
    padding: 10px;
  }

  .sponsors h2 {
    font-size: 20px;
  }

  .sponsors .slider {
    height: 120px; /* Adjusted height for small screens */
  }
}


